.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 40em;
    margin: auto;
}

a {
    color: #13D;
}

code {
    background-color: #EDEDED;
    padding: .1em .2em;
    border: solid 1px #BBB;
    border-radius: .2em
}

header {
    background-color: #CDE0E5;
    padding: 1em;
}

header p.link-to-main-website a {
    text-decoration: none;
    color: white;
    background-color: #5583B4;
    padding: .2em .8em;
}

main {
    padding: .5em;
}

@media (min-width: 80em) {
    body {
        max-width: none;
        display: flex;
        gap: 2em;
    }
    
    header {
        min-height: 100vh;
    }
    
    main {
        margin-top: 2em
    }
}
