.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 40em;
    margin: auto;
    background: rgb(242, 248, 255);
    color: #333;
}

h1 {
    font-weight: normal;
}

a {
    color: #FFF;
    background-color: #6298DC;
    padding: .2em .6em;
    text-decoration: none;
}

a:hover {
    background-color: #3C6EAE;
}

h2 {
    font-weight: normal;
    color: black;
    margin-top: 1.3em;
}

code {
    font-weight: bold;
}

p.note {
    opacity: .7;
    font-style: italic
}

header {
    background-color: #0A528E;
    color: white;
    padding: 1em;
    min-width: min(100vw, 17em)
}

header p.link-to-main-website a {
    text-decoration: none;
    color: #1f2752;
    background-color: #C2DEF7;
    padding: .3em 1em;
}

main {
    padding: .5em;
    padding-bottom: 3em;
}

main ul {
    padding-left: 0;
}

main ul > li {
    list-style-type: none;
    margin: .5em 0;
    margin-left: 1em;
    padding: .4em;
    /* background-color: rgba(0,30,100,.03) */
}

main > ul > li {
    margin-left: 0;
}

@media (min-width: 80em) {
    body {
        max-width: none;
        display: flex;
        gap: 2em;
    }
    
    header {
        min-height: 100vh;
    }
    
    main {
        margin-top: 2em
    }
}
